{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
    <h3>Enter Chat Room</h3>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Choose a Name" name="name" value="{{name}}"/>
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="name" value="{{code}}"/>
        <button type="submit" name="join" >Create a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Join Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}